body{
    background-color: #FFFFFF;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

.wrapper {
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1344px;
    margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

$primary: #000000;

section, header, footer {
    padding: 0 15px;
  }
  
  @media (min-width: 575.98px){
    section, header, footer {
      padding: 0 calc(50vw - 270px);
    }
  }
  
  @media (min-width: 767.98px){
    section, header, footer {
      padding: 0 calc(50vw - 360px);
    }
  }
  
  @media (min-width: 991.98px) {
    section, header, footer {
      padding: 0 calc(50vw - 480px);
    }
  }
  
  @media (min-width: 1199.98px){
    section, header, footer {
      padding: 0 calc(50vw - 590px);
    }
  }